@media only screen and (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      height: auto;
    }
    
    .left {
      height: auto;
      overflow: visible;
    }
    
    .container {
      max-width: none;
      margin-top: 2rem;
    }
    
    .searchBar {
      margin-left: 0;
      margin-top: 2rem;
    }
    
    .overviewProp {
      margin: 0.4rem 0;
    }
    
    .right {
      width: 100%;
      margin-top: 2rem;
    }
    
    .rightContainer {
      padding: 1.2rem;
    }
  }
  
  /* For devices with a minimum width of 769px and a maximum width of 1024px */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
      flex-direction: column;
      height: auto;
    }
    
    .left {
      height: auto;
      overflow: visible;
    }
    
    .container {
      max-width: none;
      margin-top: 2rem;
    }
    
    .searchBar {
      margin-left: 0;
      margin-top: 2rem;
    }
    
    .overviewProp {
      margin: 0.4rem 0;
    }
    
    .right {
      width: 100%;
      margin-top: 2rem;
    }
    
    .rightContainer {
      padding: 1.2rem;
    }
  }
  
  /* For devices with a minimum width of 1025px */
  @media only screen and (min-width: 1025px) {
    .wrapper {
      height: 100vh;
    }
    
    .left {
      height: 100vh;
      overflow: scroll;
    }
    
    .container {
      margin-top: 0;
    }
    
    .searchBar {
      margin-left: 4.6rem;
      margin-top: 0;
    }
    
    .overviewProp {
      margin: 0.4rem 1.4rem;
    }
    
    .right {
      width: 28rem;
      margin-top: 0;
    }
    
    .rightContainer {
      padding: 1.6rem 1.4rem;
    }
  }